body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    background-color: cornflowerblue;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: blue;
}

.search {
    display: flex;
    margin-left: 40px;
}

.user {
    display: flex;
    margin-right: 40px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    background-color: grey;
}

.dropdown {
    display: flex;
    margin-right: 20px;

    background-color: aqua;
}

.username {
    display: flex;
    margin-right: 20px;

    background-color: blueviolet;
}

.user-icon {
    display: flex;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	margin: 0px;
	padding: 0px;

    background-color: brown;
}

main {
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100%;

    background-color: blueviolet;
}

.links {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(66, 39, 129);
}

.link {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    background-color: rgb(0, 140, 255);
}

.link:hover {
    text-decoration: none;
    color:rgb(181, 204, 238);

    background-color: rgb(0, 102, 255);
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(39, 129, 87);
}

/* Log in page */

.login-form {
    width: 30%;
    /* display: flex; */
    justify-content: center;
    margin-top: 10%;

    background-color: rgb(26, 5, 46);
}

.login-button {
    width: 30%;
}

.footer {
    display: flex;
    flex: 0 0 auto;
}

/* Profile page */

.profile-main {
    display: flex;
    width: 100%;
    flex-direction: row;

    background-color: blue;
}

.profile-left {
    display: flex;
    width: 28%;
    flex-direction: column;
    align-items: center;

    background-color: aquamarine;
}

.profile-picture {
    display: flex;
    width: 200px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    margin-top:20px;

    position: relative;

    background-color:rgb(109, 224, 105);
}

.profile-icon {
    display: flex;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	padding: 0px;

    background-color: brown;
}

.change-icon {
    display:none;
    position: absolute;
    top: 50%;
    right: 25%;
}

.profile-picture:hover .change-icon{
    display:block;
}

.img-form-container {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    flex-direction: column;
}

.left-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    background-color:rgb(91, 238, 243);
}

.profile-edit {
    display: flex;
    margin-top: 10px;
}

.button-link:hover {
    text-decoration: none;
}

.profile-right {
    display: flex;
    width: 72%;
    flex-direction: column;

    background-color: rgb(111, 67, 151);
}
