body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    background-color: cornflowerblue;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110%;

    background-color: blue;
}
main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;

    background-color: blueviolet;
}
.links {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(66, 39, 129);
}
.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(39, 129, 87);
}
.login-form {
    width: 30%;
    /* display: flex; */
    justify-content: center;
    margin-top: 10%;

    background-color: rgb(26, 5, 46);
}

.login-button {
    width: 30%;
}